@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f7fa;
}

/* 自定义滚动条样式 - 参考 QAnything */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  min-height: 50px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8aaad;
}

